---
---

@import "modules/variables";
@import "modules/media_queries";
@import "modules/header";
@import "modules/footer";
@import "modules/roadblasters";

*{
  margin: 0;
  padding: 0;
}

html, body{
	background: rgb(200, 215, 255);
	font-family: $default-font;
}

body{
	width: 100%;
    height: 100%;
    position: fixed;
}

h1{
	@media #{$mobile} {
	    font-size: x-large;
	}
}

h1, p {
    text-shadow: -2px 2px #3a2c4d;
}
h1{
    color: #fad246;
}
p{
    color: white;
}

a{
	text-decoration:none;
	text-shadow: none;
	color: $light-blue;
}
a:hover{
	color: $mint-green;
}
.overlay{
    position: absolute;
    top: 0;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    z-index: 99998;
}

.main-container{
	width: 50%;
	margin: 0 auto;
	position: relative;
	z-index: 99999;
	@media #{$mobile} {
		padding-top: 100px;
      	width: 80%;
    }
    .profiles{
    	text-align: center;
    	padding-bottom: 50px;
    	span:after{
			content: " | ";
    	}
    	span:last-child:after{
			content: "";
    	}
    	@media #{$mobile} {
		    padding-bottom: 20px;
		}
    }
}