---
---

@import "modules/variables";
@import "modules/media_queries";
@import "modules/header";
@import "modules/roadblasters";

*{
  margin: 0;
  padding: 0;
}

html, body{
	font-family: $default-font;
	background-color: $light-gray;
}

body{
    padding-bottom: 50px
}

h1{
	@media #{$mobile} {
	    font-size: x-large;
	}
}

h1{
    color: $yellow;
    text-shadow: -2px 2px #3a2c4d;
}
p{
    color: $black;
}

a{
	text-decoration:none;
	text-shadow: none;
	color: $light-blue;
}
a:hover{
	color: $mint-green;
}

.main-container{
	width: 50%;
	margin: 0 auto;
	position: relative;
	z-index: 99999;
	font-size: 1.25em;
	@media #{$mobile} {
      	width: 80%;
      	font-size: 1em;
    }
    .profiles{
    	text-align: center;
    	padding-bottom: 20px;
    	span:after{
			content: " | ";
    	}
    	span:last-child:after{
			content: "";
    	}
    	@media #{$mobile} {
		    padding-bottom: 20px;
		}
    }
}
