---
---

@import "modules/variables";
@import "modules/media_queries";
@import "modules/header";
@import "modules/footer";

*{
  margin: 0;
  padding: 0;
}

html, body{
	background: rgb(252, 252, 252);
	font-family: $ubuntu;
	padding: 100px 0;
	@media #{$mobile} {
      padding: 60px 0;
    }
}

h1{
	@media #{$mobile} {
	    font-size: x-large;
	}
}

a{
	text-decoration:none;
	color: $light-blue;
}
a:hover{
	color: $mint-green;
}

.main-container{
	width: 50%;
	margin: 0 auto;
	@media #{$mobile} {
      width: 80%;
    }
}