header{
	background: rgb(40,40,40);
	background: url(/images/header-bg.png) repeat left top fixed;
	font-family: $vt323;
	position: absolute;
	top: 0;
	height: 150px;
	width: 100%;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.7);
	@media #{$mobile} {
      height: 100px;
    }

	.logo{
	    text-align: center;
        padding: 25px;

		a{	
		    font-size: 80px;
		    text-decoration: none;
		    color: white;
		    text-shadow: -2px 2px #3a2c4d;
		    @media #{$mobile} {
		      font-size: 50px;
		    }
		}
		img{
			float: left;
			height: 80px;
			padding: 10px 20px;
		}
	}
	
	.nav-header{
		width: 50%;
		
		ul{
			list-style-type: none;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			li{
				font-size: 48px;
				line-height: 150px;
				a{
					text-decoration: none;
					color: white;
					text-transform: uppercase;
					text-shadow: -2px 2px $dark-purple;
				}
				a:hover{
					color: $mint-green;
				}
			}
		}
	}
}