@import "modules/variables";

header{
	background: $sky-blue;
	height: 250px;
	width: 100%;
	z-index: 99999;
    position: relative;
    border-bottom: solid 2px $black;

	.overlay{
	    position: absolute;
	    top: 0;
	    background-color: rgba(255,255,255,0.5);
	    width: 100%;
	    height: 100%;
	    z-index: 998;
	}
	.roadblasters{
		z-index: 0;
	}
	.logo{
	    text-align: center;
        padding: 25px;
        position: relative;
		z-index: 999;

		span{	
		    font-size: 80px;
		    text-decoration: none;
		    color: #fad246;
		    text-shadow: -2px 2px #3a2c4d;
		    @media #{$mobile} {
		      font-size: 50px;
		    }
		}
		img{
			float: left;
			height: 80px;
			padding: 10px 20px;
		}
		.github-logo{
			width:75px;
			height:75px;
			display:block;
			margin: auto;
				background: transparent url(/images/github-logo.png) center top no-repeat;
		}
		.github-logo:hover{
			width:75px;
			height:75px;
			background-image: url(/images/github-logo-hover.png);
		}
	}
}