//Fonts
$default-font: 'VT323', ;

//Colors
$light-blue: rgb(74,104,248);
$dark-blue: rgb(43,51,203);
$dark-purple: rgb(58, 44, 77);
$light-purple: rgb(218, 74, 248);
$mint-green: rgb(74, 248, 218);
$lime-green: rgb(104, 248, 74);
$red: rgb(248, 74, 104);
$light-gray: #efefef;
$yellow: #fad246;
$black: #000;
$sky-blue: rgb(200, 215, 255)