<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, user-scalable=yes">
		<link rel="stylesheet" href="css/style.css">
		<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
		<meta name="description" content="Ryan Petersen's personal website.">
		<meta name="viewport" content="height=device-height, initial-scale=1">
	</head>

	<body>
		<header>
			<div class="overlay"></div>
			{% include roadblasters.html %}
			<div class="logo">
				<a class="github-logo" href="https://github.com/rpetersen29" target="_blank"></a>
			<span>Ryan Petersen</span>
		</div>
		</header>
		
		<div class="main-container">
			{{ content }}

		</div>
	</body>

</html>